.jumbotron
{
    background-color: white;
}

.cap_style
{
    text-align: center;
}
.lb_style
{
    text-align: right;
}


.screen_style
{
    margin-top: 40px;
}

.note_style
{
    font-size: 8px;
    color:grey;
}