
.userinfo_dis
{
     background-color: rgb(121,149,204);
    color:white;
    font-size: 20px;
}

.logout_style
{
    color:white;
}




.head_style
{
    background-color: rgb(121,149,204);
    color:white;
}
.headcap_style
{
    margin-top:50px;
    font-size: 47px;

}
.headcap_en_style
{
    margin-top: -5px;
    margin-bottom: 30px;
}

.ln
{
    height:8px;
    background-color: rgb(193,237,246);
}

.content_style
{
    background-color: RGB(240,240,240);
}


.pgbottom
{
    font-size: 10px;
    text-align:center;
    color: grey;
}
.navbar
{
    border:none;
    margin-bottom: 0px;
}