{% extends "base.html" %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('sample.static',filename='css/addSample.css') }}">

{% endblock %}


{% block pagecontent %}
    <div class="container-fluid col-md-6 col-md-offset-3">
        <div class="jumbotron screen_style">
            <div class="container-fluid">
                <div class="row ">
                    <p class="cap_style">新增样本信息</p>
                </div>
                <div class="row">
                    <form action="" method="post">
                        <div class="container-fluid col-md-10 col-md-offset-1" >

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">样本编码:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="smp_id" placeholder="请输入样本编码">
                                </div>

                            </div>

                            <div class="row  form-group" >
                                <label  class="col-md-4 control-label">样本类别:</label>
                                <div class="col-md-8">
                                    <select name="smp_category" id="" class="form-control"></select>
                                </div>
                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label"> 入库日期:</label>
                                <div class="col-md-8">
                                    <select  name="submit_year">
                                        {% for i in range(1970,current_year) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                        <option value="{{ current_year }}">{{ current_year }}</option>
                                    </select>
                                    <label for="year">年</label>

                                    <select name="submit_month">
                                        {% for i in range(1,13) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="month">月</label>

                                    <select name="submit_day">
                                        {% for i in range(1,32) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="day">日</label>
                                </div>
                            </div>
                            <div class="row  form-group">
                                    <label  class="col-md-4 control-label ">母本编码:</label>
                                    <div class="col-md-8">
                                        待定
                                    </div>


                            </div>


                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">保存温度:</label>
                                <div class="col-md-7">
                                    <select class="form-control col-md-6" name="temperature">
                                        {% for i in range(-100,101) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                            <label for="day">°C</label>

                            </div>



                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">分管数:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="same_batch_count" placeholder="请输入分管数">
                                </div>

                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">样本量:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="smp_count" placeholder="请输入样本量">
                                </div>


                            </div>
                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">量单位:</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="unit" id=""></select>
                                </div>


                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">知情同意:</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="awareness" id="">
                                        <option value="true">是</option>
                                        <option value="false">否</option>
                                    </select>

                                </div>


                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">样本别称:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="smp_name" placeholder="请输入样本别称">
                                </div>


                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">样本描述:</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" name="smp_desc" rows="3"></textarea>
                                </div>


                            </div>
                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">关键词:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="keyword" placeholder="请输入关键词">
                                </div>


                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">样本用途:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="use_for" placeholder="请输入样本用途">
                                </div>


                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">捐献者匿名编号:</label>
                                <div class="col-md-8">
                                    <select name="subscriber_id" class="form-control" id=""></select>
                                </div>


                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">保存机构名称:</label>
                                <div class="col-md-8">
                                    <select name="psv_org"  class="form-control" id=""></select>
                                </div>


                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">课题名称:</label>
                                <div class="col-md-8">
                                    <select name="project"  class="form-control" id=""></select>
                                </div>


                            </div>
                            <div class="row  form-group">
                                    <label  class="col-md-4 control-label ">采集部位:</label>
                                    <div class="col-md-8">
                                      <input type="text" class="form-control" name="part" placeholder="请输入采集部位">
                                    </div>


                                </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">分析前变量:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="pre_variable" placeholder="请输入采集前变量">
                                </div>


                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">采集动因:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="reason" placeholder="请输入采集动因">
                                </div>


                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">采集时间:</label>
                                <div class="col-md-8">
                                    <select  name="collect_year">
                                        {% for i in range(1970,current_year) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                        <option value="{{ current_year }}">{{ current_year }}</option>
                                    </select>
                                    <label for="year">年</label>

                                    <select name="collect_month">
                                        {% for i in range(1,13) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="month">月</label>

                                    <select name="collect_day">
                                        {% for i in range(1,32) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="day">日</label>
                                </div>


                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">采集计划:</label>
                                <div class="col-md-8">
                                    <textarea name="collect_plan" class="form-control" rows="3"></textarea>
                                </div>


                            </div>
                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">采集机构:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="collect_org" placeholder="请输入采集机构">
                                </div>


                            </div>

                            <div class="row  form-group">
                                <label  class="col-md-4 control-label ">其他采集者:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="other_collector" placeholder="请输入其他采集者">
                                </div>


                            </div>


                            <div class="row form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <button id="bt" type="submit" class="btn btn-primary btn-block" > 添加样本</button>

                                </div>

                            </div>

                        </div>
                    </form>


                </div>


            </div>

        </div>
    </div>

{% endblock %}