{% extends "sam_base.html" %}

{% block head %}
    <title>失败信息</title>

<link rel="stylesheet" href="{{ url_for('sample.static',filename='css/errorMessage.css') }}">
    <script type="text/javascript" src="{{ url_for('sample.static',filename='js/errorMessage.js') }}"></script>

{% endblock %}



{% block pagecontent %}

    <div class="container col-md-8 col-md-offset-2">
        <div class="jumbotron screen_style row">

            <p class="cap_style">批量添加失败</p>

            <div class="row col-md-12 col-md-offset-1">
                <span>失败信息：</span>
            </div>

            <ul >
               {% for error in rst %}
                        <li class=" col-md-offset-2">{{ error }}</li>

               {% endfor %}
            </ul>

        </div>
        <div class=" col-md-6 col-md-offset-3 btn_pos">

            <button class=" btn btn-primary  btn-block btn_style" onclick="to_batch_add()">重新添加</button>

        </div>
    </div>



{% endblock %}