<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {# 针对bootstrap的cdn引用 #}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    {#    bootstrap中为保持触屏元素缩放设置的标签 #}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('sample.static',filename='css/sam_base.css') }}">

    {% block head %}

    {% endblock %}
</head>
<body>
<div class="container-fluid userinfo_dis">
    <div class="row col-md-12">
        <span class="glyphicon glyphicon-user  col-md-offset-10"></span> <span>{{ session['user_id'] }}</span>
        &nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-log-out"></span> <span><a class="logout_style" href="{{ url_for('log.render_login') }}">退出登录</a></span>
    </div>
</div>

{#头部展示部分#}
<div class="container-fluid head_style">
    <div class="row col-md-12">
        <h1 class="col-md-8 col-md-offset-1 headcap_style">
            人类遗传资源样本库管理系统
        </h1>
        <h4 class="col-md-8 col-md-offset-1 headcap_en_style">
            Human Genetic Resource Samples Management System
        </h4>
    </div>

</div>

<div class="container-fluid">
    <div class="row  ln">

    </div>
</div>
<div class="container-fluid navbar navbar-default">
    <div class="row col-md-offset-1">
        <ul class="nav navbar-nav">
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    用户管理
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a onclick="new_account_check({{ session['user_lv'] }})">新增用户</a></li>
                    <li><a href="{{ url_for('log.render_psd_change') }}">修改密码</a></li>
                    <li><a onclick="lv_change_check({{ session['user_lv'] }})">修改用户权限</a></li>

                </ul>
            </li>

            <li  ><a onclick="batch_add_check({{ session['user_lv'] }})">批量添加样本</a></li>
            <li  ><a href="{{ url_for('sample.render_search') }}">样本信息搜索</a></li>

        </ul>
    </div>

</div>

<script type="text/javascript">

    function new_account_check(lv)
    {
        if (lv>0)
        {
            alert("当前用户没有权限执行此操作！");
        }
        else
        {
            window.location.href="{{ url_for('log.render_new_account') }}"
        }
    }


    function lv_change_check(lv)
    {
        if (lv>0)
        {
            alert("当前用户没有权限执行此操作！");
        }
        else
        {
            window.location.href="{{ url_for('log.render_lv_change') }}"
        }
    }

    function batch_add_check(lv) {

        if (lv>0)
        {
            alert("当前用户没有权限执行此操作");
        }
        else
        {
            window.location.href="{{ url_for('sample.render_batchAdd') }}"
        }

    }




</script>



<div class="container-fluid content_style">

    {% block pagecontent %}

    {% endblock %}
</div>


<div class="col-md-12" style="height: 1px;background-color:grey;margin-top: 0px;"></div>

    <p class="col-md-12"></p>
    <p class="col-md-12"></p>
    <p class="col-md-12"></p>
    <p class="col-md-12"></p>
    <p class="col-md-12"></p>


    <div class="container-fluid">

         <p class="col-md-12"></p>
        <p class="col-md-12"></p>
        <p class="col-md-12"></p>
        <p class="col-md-12"></p>


        <div class="row col-md-12">

             <p class="pgbottom">人类遗传资源样本库管理系统&nbsp&nbsp&nbsp版权所有2018@All right reserved</p>

        </div>
        <div class="row col-md-12">
             <p  class="pgbottom">技术支持:哈尔滨工业大学</p>
        </div>




         <p class="col-md-12"></p>
        <p class="col-md-12"></p>
        <p class="col-md-12"></p>
        <p class="col-md-12"></p>

    </div>




</body>
</html>


</body>
</html>