{% extends "sam_base.html" %}

{% block head %}
    <title>搜索结果</title>
    <link rel="stylesheet" href="{{ url_for('sample.static',filename='css/search_list.css') }}">
    <script type="text/javascript" src="{{ url_for('sample.static',filename='js/search_list.js') }}"></script>

{% endblock %}



{% block pagecontent %}

<div class="container-fluid col-md-10 col-md-offset-1">
    <div class="jumbotron screen_style">
        <div class="container-fluid">
            <div class="row col-md-4 col-md-offset-4">
                <p class="cap_style">搜索结果</p>

            </div>

            <div class="row col-md-12 " style="margin-right: 0px;">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                            <th>ID</th>
                          <th >库存编码</th>
                          <th >样本类别</th>
                          <th>保存机构名称</th>
                          <th>疾病名称</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in search_rst %}
                        <td><a href="{{ url_for('sample.render_sampleinfo',sam_uni_id=i[1]) }}">{{ i[1] }}</a></td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>
                        <td>{{ i[7] }}</td>
                        <td>{{ i[22] }}</td>

                      {% endfor %}
                      </tbody>
                    </table>

            </div>




        </div>

   </div>



</div>

{% endblock %}