.jumbotron
{
    background-color: white;
}

.screen_style
{
    margin-top: 40px;
}

.cap_style
{
    text-align: center;
}
.lb_style
{
    text-align: right;
}

.btn_style
{
    margin-top: 20px;
}
